table {
    width: 100%;
}

.container {
    width: 90%;
    margin:auto;
}

.mat-paginator {
    border-left: 1px solid rgba(0,0,0,.12);
    border-right: 1px solid rgba(0,0,0,.12);
    border-bottom: 1px solid rgba(0,0,0,.12);
}

.button-create-text {
    padding-right : 10px
}

.div-create-container {
    padding-top: 20px;
    padding-bottom: 20px;
}

.back-container {
    padding-left: 20px;
}

.display-inline {
    display: inline;
}