<div>
  <div class="logout-button">
    <button mat-stroked-button (click)="logOut()" color="primary">
      <span class="button-create-text">Cerrar Sesión</span>
    </button>
  </div>
  <div class="container-options">
    <mat-list>
      <mat-list-item>
        <a>
          <span class="link" routerLink="/insurance">Administrar Pólizas de Seguro</span>
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a>
          <span class="link" routerLink="/assign">Asignar / Desasignar Polizas a Clientes</span>
        </a>
      </mat-list-item>
    </mat-list>
  </div>
</div>
